/* TODO Add site wide styles */
html {
    /* background-color: black; */
    background-color: #892CDC;
    

}

#root {
    background-color: #892CDC;
    min-height: 100%

;
}

.front-page-logo {
    height: 100%;
    width: 100%;
    margin-top: 20px;
}

#footer {
    position:fixed;
    bottom:0px;
    height: 3%;
    width:100%;
}

.copy-text {
    position: relative;
    color: whitesmoke;
    text-align: right;
    margin-left: 9vw;
}

.copy-link {
    color: #892CDC;
}

.details {
    height: 150px;
}

.form-div>* {
    flex: 1 1 100%;

}

.navLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 500px;
    height: 110px;
}