.formButton {
    width: 100%;
    background-color: #892CDC;
    letter-spacing: 0.25em;
    font-weight: bold;
}

.loginContainer {
    margin-top: 20px;
    background-color: whitesmoke;
    border-radius: 3%;
}

.userNameInput {
    width: 100%;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    border-radius: 3%;
}

